<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Elasticsearch.Net" version="1.4.3" targetFramework="net45" />
  <package id="Jil" version="2.9.0" targetFramework="net45" />
  <package id="MongoDB.Bson" version="2.0.0" targetFramework="net45" />
  <package id="MongoDB.Driver" version="2.0.0" targetFramework="net45" />
  <package id="MongoDB.Driver.Core" version="2.0.0" targetFramework="net45" />
  <package id="MsgPack.Cli" version="0.5.11" targetFramework="net45" />
  <package id="NEST" version="1.4.3" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net45" />
  <package id="Sigil" version="4.4.0" targetFramework="net45" />
  <package id="StackExchange.Redis" version="1.0.414" targetFramework="net45" />
  <package id="StackExchange.Redis.Extensions.Core" version="1.1.9.0" targetFramework="net45" />
  <package id="StackExchange.Redis.Extensions.Jil" version="1.1.6.0" targetFramework="net45" />
  <package id="StackExchange.Redis.Extensions.MsgPack" version="1.1.6.0" targetFramework="net45" />
  <package id="StackExchange.Redis.Extensions.Newtonsoft" version="1.1.6.0" targetFramework="net45" />
</packages>